.miles-card {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  margin-bottom: 12px;
  width: 21rem;
  height: 28rem;
}

@media (max-width: 700px) {
  .miles-card {
    width: 100%;
    max-width: 21rem;
    margin-right: 0;
  }
}

.miles-card-img {
  height: 60%;
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.miles-card .card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 16px;
}

.miles-card .card-body .btn {
  margin-top: auto;
}

.miles-card-title {
  color: #286e84;
  margin-bottom: 16px;
}
