.miles-card {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  margin-bottom: 12px;
  width: 21rem;
  height: 28rem;
}

.miles-card-img {
  height: 60%;
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.miles-card-title {
  color: #286e84;
}
